PORT=5000

# Node environment
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>.mongodb.net/ecommerce?retryWrites=true&w=majority

# Redis (Upstash)
REDIS_URL=rediss://default:<redis_token>@<redis_url>.upstash.io:6379

# JWT
ACCESS_TOKEN_SECRET=<your_access_token_secret>
REFRESH_TOKEN_SECRET=<your_refresh_token_secret>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>

# Stripe
STRIPE_PUBLISHABLE_KEY=<your_stripe_publishable_key>
STRIPE_SECRET_KEY=<your_stripe_secret_key>

# Client URL
CLIENT_URL=http://localhost:5173